<a href="https://colab.research.google.com/github/amgupta1125-lgtm/Numpy-Learning/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

# Most Imp for Pandas DataFrame - Belove code works as Dictionary :)

data = {
    "Name": ["Abhimanyu", "Satyam", "Divyesh"],
    "Age": [20, 21, 18]
}

df = pd.DataFrame(data)
print(df)

        Name  Age
0  Abhimanyu   20
1     Satyam   21
2    Divyesh   18

In [23]:
# This Function in Python

def greet(name):                          #def ka matlab → function banana
    print("Hello", name)
greet("Abhimanyu")                        #greet → function ka naam


 # For Pandas Example

def add_20(x):                   #def → function banane ke liye # add_20 → function ka naam
    return x + 20                 # x → ek value hai (Age ka number)  # return x + 20 → us value me 20 add karke wapas dega

df["New_Age"] = df["Age"].apply(add_20)  # df → DataFrame (table) & "Age" → Age column & .apply() → work on every value
print(df)

Hello Abhimanyu
        Name  Age  New_Age
0  Abhimanyu   20       40
1     Satyam   21       41
2    Divyesh   18       38

In [17]:
# Methode   --> list methode
nums = [1, 2, 3]
nums.append(4)  # for adding
nums.remove(2)  # for REmoving
print(nums)

[1, 3, 4]

In [29]:
 # String Mehode
 name = "abhimanyu"

print(name.upper())     # ABHIMANYU
print(name.capitalize()) #Abhimanyu

ABHIMANYU
Abhimanyu

In [31]:
# but in Case of the Pandas
df["Name"] = df["Name"].str.upper()
print(df)

        Name  Age  New_Age
0  ABHIMANYU   20       40
1     SATYAM   21       41
2    DIVYESH   18       38

In [35]:
# Data ko filter krne ke liye python me

age = 21

if age > 18:
    print("Adult")

# BUt PANDAS ME AISA KRNE KA
df[df["Age"] > 20]

Adult

     Name  Age  New_Age
1  SATYAM   21       41